<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>


        <!-- Configurações de segurança -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
            </customHeaders>
        </httpProtocol>

        <!-- Configuração de segurança -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1048576" />
            </requestFiltering>
        </security>

        <!-- Configurações de erro -->
        <httpErrors errorMode="Detailed" />

        <!-- Configuração de compressão -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />


        <rewrite>
            <rules>
                <rule name="MCP Server" stopProcessing="true">
                    <match url="^(.*)?$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
            </files>
        </defaultDocument>

    </system.webServer>

    <!-- Configurações do PHP -->
    <appSettings>
        <add key="PHP_FCGI_MAX_REQUESTS" value="10000" />
    </appSettings>

</configuration>